@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

@keyframes pulse-yellow {
  0%, 100% {
    background-color: rgba(250, 204, 21, 0.7); 
  }
  50% {
    background-color: rgba(250, 204, 21, 0.9); 
  }
}

.pulse-animation {
  animation: pulse-yellow 2s infinite ease-in-out;
}